---
permalink: /blog
title: Blog
description: The blog page.
layout: layout-main.liquid
---
<h1>My posts</h1>
<ul>
{% for post in collections.posts | reverse %}
 <li>
   <a href="{{ post.url }}">{{ post.data.title }}</a> - {{ post.date | readableDate }}
 </li>
{% endfor %}
</ul>

<h1>My posts test</h1>
<ul>
{% for post in collections.posts | reverse %}
 <div class="card">
  <div class="fakeimg" style="height:200px;">Image</div>
  <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
  <h5>{{ post.date | readableDate }}</h5>
  <p>Some text..</p>
</div>
{% endfor %}
</ul>