@font-face {
    font-family: 'Cinzel';
    font-display: fallback;
    font-style: normal;
    font-weight: 400;
    src: url('/./assets/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf');
}

body {
    margin: 0 auto;
    font-family: sans-serif;
    background-color: #171a21; /* rich black */
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  // Navigation menu styles
  nav {

    margin: 2em 2em;
    z-index: 2;

    .navbar-brand {
        float: left;
    }

    ul {
        list-style-type:none;
        align-items: center;
        width: 80%;
        margin: 5em auto;
        float: right;
    }
        li {
            float: right;
            margin-right: 2em;
        }
            a {
                text-align: center;
                padding: 14px 2.5em;
                font-size: 15px;
                text-decoration: none; /* no underline */
                text-transform: uppercase;
                color: #f9fcfe; /* white */
                background-color: #171a21;
                transition: 0.3s;
            
                &:hover {
                    background-color: #f66145;
                }
            }
        }
    
    // Footer menu styles
    footer {
        bottom: 0;
        width: 100%;
        height: 2.5 em;

        .shadow-top {
            width: 100%;
            height: 100 px;
            background-image: linear-gradient(180deg, #171a21, #4d4f6460 );
        }
            p {
                height: 100px;
            }


        ul {
            list-style-type:none;
            text-align: right;
            width: 100%;
            margin: 1em auto;
            float: right;
        }
            li {
                margin-right: 0.5em;
            }
                a {
                    padding: 14px 2.5em;
                    font-size: 15px;
                    text-decoration: none; /* no underline */
                    color: #f9fcfe; /* white */
                
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }


// Bookshop component counter
.counter-up {
    color: #f9fcfe;
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding-block-start: 1.5rem;
    padding-block-end: 1.5rem;
    

    .container {
        box-sizing: border-box;
        background-color: #4d4f6460;
        border-radius: 25px;
        width: 80%;
        height: 500px;
        margin: auto;
    }
        .col {
            float: left;
        }


        h2 {
            font-size: 2rem;
            line-height: 50px;
            text-transform: capitalize;
        }
            h2 span {
                color: #f66145;
                font-family: 'Cinzel', sans-serif;
            }

        .counter-up-content {
            box-sizing: border-box;
            margin: auto;
            border: #f9fcfe;
        }

        }
// Bookshop component hero
.hero {
    background: #4d4f64;
    color: #f9fcfe;
    overflow: hidden;
}

// Bookshop component feature
.feature {
    color: #f9fcfe;
    box-sizing: border-box;
    display: block;
    text-align: left;
    padding-block-start: 1.5rem;
    padding-block-end: 1.5rem;

    .container {
        color: #f9fcfe;
        width: 90%;
        margin: auto;

        .row {
            display: flex;
            box-sizing: border-box;
            align-items: center;

            .col {
                float: left;
                
            }

            h2 {
                font-size: 3rem;
                line-height: 50px;
                text-transform: capitalize;
            }
                h2 span {
                    color: #f66145;
                    font-family: 'Cinzel', sans-serif;
                }
        }
    }
    
}